body
{
 font: 15px/1.5 Arial, Helvetica, sans-serif;
 padding: 0;
 margin: 0;
 background-color:#f4f4f4;
}
/*global*/

.container{
 width: 80%;
 margin: auto;
 overflow: hidden;
}
 ul{
 margin: 0;
 padding: 0;
}
.button_1{
  height: 38px;
  background: rgb(18, 104, 95);
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}
.dark{
  padding: 15px;
  background: royalblue;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;

}
/*header**/
header{
 background-color: rgb(12, 12, 12);
 color: #ffffff;
 padding-top: 30px;
 min-height: 70px;
 border-bottom: deeppink 3px solid;
}
header a{
 color: #ffffff;
text-decoration: none;
text-transform: uppercase;
font-size: 16px;
}

header li{
 float: left;
 display: inline;
 /*padding-left: 20px;
 padding-left: 20px;*/
  padding: 0 20px 0 20px;
}
header #branding h1{
margin: 0;
}
header nav{
 float: right;
 margin-top: 10px;
}

 header .highlight, header .current a {
 color: deeppink;
 font-weight: bold;
 }
 header a:hover{
   color: #cccccc;
   font-weight: bold;
 } 
 /*showcase*/
 #showcase{
   min-height: 400px;
   background: url('../img/showcase.jng'); no-repeat 0 -400px; 
   text-align: center; color: blue;
 } 
 #showcase h1{
 margin-top: 100px;
 font-size: 55px;
 margin-bottom: 10px;
 }
 #showcase p{
   font-size: 20px;
 }
  /* newsletter */
 #newsletter{
  padding: 15px;
  color: #ffffff; 
  background: cadetblue;
 }
 #newsletter h1{
   float: left;
 }
 #newsletter form{
   float: right;
   margin-top: 20px;

 }
 #newsletter input[type="email"]{
   padding: 4px;
   height: 25px;
   width: 250px;
 }

 /* boxes */ 
#boxes{
margin-top: 20px;
}
#boxes .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}
#boxes .box img{
  width: 90px;

}
/*sidebar*/
aside#sidebar{
 float: right;
 width: 30%;
 margin-top: 10px;

}
/*main-col*/
article#main-col{
  float: left;
  width: 65%;

  /*services*/
ul#services li{
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: blue 
}
}
footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: rgb(12, 12, 12);
  text-align: center;
}
